@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bangers', system-ui;
  list-style: none;
  text-decoration: none;
}
body {
  height: 100svh;
  width: 100%;
  overflow: hidden;
  background-color: #e4e4e1;
  background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
}
.content {
  height: 100vh;
}
