@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bangers', system-ui;
  list-style: none;
  text-decoration: none;
}
body {
  min-height: 100svh;
  width: 100%;
  overflow: hidden;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
.content {
  min-height: 100vh;
}
button {
  cursor: pointer;
}
