.ladron {
  position: absolute;
  bottom: 20px;
  right: 20px;
  height: 250px;
  z-index: 999;
}
.lingote {
  position: absolute;
  height: 70px;
  filter: drop-shadow(0px 0px 2px #fcfcfc);
  transition: all 0.5s;
  cursor: pointer;
}
.contador {
  position: absolute;
  bottom: 165px;
  right: 166px;
  color: yellow;
  text-align: center;
  width: 100px;
  z-index: 99999;
}
.recogido {
  .recogido {
    height: 10px;
  }
  z-index: 1;
}

@keyframes myAnim {
  0% {
    opacity: 0;
    transform: rotateY(70deg);
    transform-origin: right;
  }

  100% {
    opacity: 1;
    transform: rotateY(0);
    transform-origin: right;
  }
}

.divContainerYouLose {
  display: flex;
  position: relative;
  margin-top: 7em;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 99999999999999;
  animation: myAnim 1s ease 0s 1 normal forwards;
}
.divButtonYouLose {
  display: flex;
  justify-content: space-around;
  z-index: 99999999999999;
}

.divButtonYouLose button {
  font-size: 15px;
  letter-spacing: 3px;
  border-width: 1px;
  color: #fff;
  border-color: #d02718;
  font-weight: bold;
  border-radius: 6px;
  box-shadow: inset 0px 1px 0px 0px #f5978e;
  text-shadow: inset 0px 1px 0px #810e05;
  background: linear-gradient(#f24537, #c62d1f);
  width: 100px;
  height: 50px;
  font-size: 30px;
  border-radius: 30px;
  background-color: rgb(232, 255, 148);
  cursor: pointer;
  text-align: center;
  z-index: 99999999999999;
}
.divButtonStart {
  display: flex;
  justify-content: end;
  gap: 2em;
  margin-right: 3em;
  margin-top: 2em;
}
.divButtonStart button {
  font-size: 15px;
  padding: 5px;
  letter-spacing: 3px;
  padding: 5px;
  border-width: 1px;
  color: #fff;
  border-color: #d02718;
  font-weight: bold;
  border-radius: 6px;
  box-shadow: inset 0px 1px 0px 0px #f5978e;
  text-shadow: inset 0px 1px 0px #810e05;
  background: linear-gradient(#f24537, #c62d1f);
}
@keyframes myAnim {
  0%,
  100% {
    transform: translateY(0) rotate(0);
    transform-origin: 50% 50%;
  }

  15% {
    transform: translateY(-30px) rotate(6deg);
  }

  30% {
    transform: translateY(15px) rotate(-6deg);
  }

  45% {
    transform: translateY(-15px) rotate(3.6deg);
  }

  60% {
    transform: translateY(9px) rotate(-2.4deg);
  }

  75% {
    transform: translateY(-6px) rotate(1.2deg);
  }
}
.divContainerYouWin {
  display: flex;
  position: relative;
  margin-top: 7em;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 99999999999999;
}
.divContainerYouWin button {
  font-size: 15px;
  letter-spacing: 3px;
  width: 60px;
  height: 40px;
  border-width: 1px;
  color: #fff;
  border-color: #d02718;
  font-weight: bold;
  border-radius: 6px;
  box-shadow: inset 0px 1px 0px 0px #f5978e;
  text-shadow: inset 0px 1px 0px #810e05;
  background: linear-gradient(#f24537, #c62d1f);
}
.divContainerYouWin img {
  height: 650px;
  animation: myAnim 1s ease 0s 100 normal forwards;
}
.divYouWin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5em;
}

#cochePolicia {
  height: 700px;
}
#cronometro {
  font-size: 40px;
  color: white;
}
.CountDown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 500px;
  right: 0;
  height: 220px;
  z-index: 999;
}
.CountDown img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
@keyframes myAnim {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}
.warningH2 {
  animation: myAnim 2s ease 0s 20 normal forwards;
}
@media (max-width: 1920px) {
  .divYouWin img {
    height: 400px;
  }
  #cochePolicia {
    height: 400px;
  }
  .divButtonYouLose button {
    font-size: 20px;
  }
  .CountDown {
    bottom: 400px;
  }
  .divButtonStart button {
    font-size: 11px;
  }
  .divButtonStart {
    justify-content: flex-end;
    margin-right: 2em;
  }
  .ladron {
    height: 180px;
  }
  .contador {
    right: 110px;
    bottom: 120px;
  }
  .recogido {
    height: 15px;
    width: 15px;
  }
}

@media (max-width: 850px) {
  #cochePolicia {
    height: 400px;
  }
  .divButtonYouLose button {
    font-size: 20px;
  }
  .CountDown img {
    height: 180px;
  }
  .divButtonStart button {
    font-size: 11px;
  }
  .divButtonStart {
    justify-content: flex-start;
    margin-left: 5em;
  }
  .ladron {
    height: 180px;
    bottom: 0px;
  }
  .contador {
    right: 110px;
    bottom: 100px;
  }
  .recogido {
    height: 15px;
    width: 15px;
  }
}

@media (max-width: 450px) {
  .lingote {
    height: 20px;
  }
  .recogido {
    height: 6px;
    width: 6px;
  }
  .divButtonStart {
    margin-left: 3em;
  }
  .divButtonStart button {
    font-size: 5px;
  }
  .CountDown {
    width: 80px;
    left: 0;
    bottom: 25px;
    height: 50px;
  }
  .ladron {
    height: 70px;
    bottom: 0px;
  }
  .contador {
    bottom: 36px;
    right: 26px;
    font-size: 15px;
  }
  #cronometro {
    font-size: 15px;
  }
  .divContainerYouLose {
    justify-content: flex-start;
  }
  #cochePolicia {
    height: 200px;
  }
  #ladronContento {
    height: 200px;
  }
  .divYouWin button {
    width: 100px;
    height: 30px;
  }
}

@media (max-width: 320px) {
  .divContainerYouWin {
    height: 100px;
  }
  #ladronContento {
    height: 160px;
  }
  .divButtonStart {
    margin-left: 3em;
    margin-top: 1em;
  }
  .divButtonYouLose button {
    font-size: 15px;
    height: 20px;
    width: 60px;
  }
  #cochePolicia {
    height: 150px;
  }
}
