@keyframes myAnim {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 0 50%;
  }
  10% {
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    transform: rotate(4deg);
  }
  80% {
    transform: rotate(-2deg);
  }
  90% {
    transform: rotate(2deg);
  }
}

@keyframes myOpacityAnim {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

.ContenidoTresEnRaya {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tablero {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  margin-top: 5em;
  width: 80vmin;
  height: 80vmin;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0.2em;
}

.tablero button {
  font-size: 200px;
  cursor: pointer;
}

.agitado {
  animation: myAnim 0.8s ease 0s 1 normal forwards;
}

.infoPlayers {
  position: absolute;
  top: 600px;
  right: 100px;
  display: flex;
  width: 300px;
  height: 300px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.btnReinicio {
  position: absolute;
  top: 400px;
  right: 180px;
  font-size: 20px;
  width: 150px;
  height: 50px;
  border-width: 1px;
  color: #fff;
  border-color: #d02718;
  font-weight: bold;
  border-radius: 6px;
  box-shadow: inset 0px 1px 0px 0px #f5978e;
  text-shadow: inset 0px 1px 0px #810e05;
  background: linear-gradient(#f24537, #c62d1f);
  letter-spacing: 2px;
}

.infoPlayers h2 {
  font-size: 50px;
  letter-spacing: 3px;
}

#player1 {
  color: rgb(255, 205, 112);
}

#player2 {
  color: brown;
}

.winnerRound {
  animation: myAnim 0.8s ease 0s 1 normal forwards;
}

.celdawinner {
  background-color: yellow;
  color: black;
  font-weight: bold;
}
@media (max-width: 1920px) {
  .tablero {
    margin-top: 2em;
  }
  .infoPlayers {
    left: 20;
  }
}
@media (max-width: 1280px) {
  .tablero {
    margin-top: 2em;
  }
  .tablero button {
    font-size: 120px;
  }
  .infoPlayers {
    height: 150px;
    top: 300px;
    left: 20px;
  }
  .btnReinicio {
    left: 1000px;
    top: 300px;
  }
}
@media (max-width: 900px) {
  .tablero {
    margin-top: 2em;
  }
  .infoPlayers {
    height: 150px;
    top: 860px;
    left: 20px;
  }
  .btnReinicio {
    left: 640px;
    top: 900px;
  }
}
@media (max-width: 840px) {
  .tablero {
    margin-top: 2em;
  }
  .infoPlayers {
    height: 150px;
    top: 840px;
    left: 20px;
  }
  .btnReinicio {
    left: 500px;
    top: 900px;
  }
}
@media (max-width: 768px) {
  .tablero {
    margin-top: 2em;
  }
  .infoPlayers {
    height: 150px;
    top: 760px;
    left: 20px;
  }
  .btnReinicio {
    left: 500px;
    top: 800px;
  }
}

@media (max-width: 430px) {
  .tablero {
    margin-top: 2em;
  }
  .tablero button {
    font-size: 70px;
  }
  .btnReinicio {
    font-size: 10px;
    left: 30px;
    top: 500px;
    width: 60px;
    height: 30px;
  }
  .infoPlayers {
    top: 480px;
    gap: 2em;
    left: 130px;
    height: 40px;
  }
  .infoPlayers h2 {
    font-size: 20px;
  }
}
@media (max-width: 400px) {
  .tablero {
    margin-top: 2em;
  }
  .tablero button {
    font-size: 70px;
  }
  .btnReinicio {
    font-size: 10px;
    left: 30px;
    top: 500px;
    width: 60px;
    height: 30px;
  }
  .infoPlayers {
    top: 480px;
    gap: 1em;
    left: 90px;
    height: 40px;
  }
  .infoPlayers h2 {
    font-size: 20px;
  }
}
@media (max-width: 320px) {
  .tablero {
    margin-top: 2em;
  }
  .tablero button {
    font-size: 70px;
  }
  .btnReinicio {
    top: 400px;
    font-size: 10px;
    left: 30px;
    width: 60px;
    height: 30px;
  }
  .infoPlayers {
    top: 380px;
    gap: 1em;
    left: 60px;
    height: 40px;
  }
  .infoPlayers h2 {
    font-size: 20px;
  }
}
